/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.avatar {

}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: white;
    margin: 0;
    height: 100vh;
}

#header {
    background-color: #f0f0f0;
}

.nav-bar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.center-nav, .right-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.center-nav {
    flex: 1;
    justify-content: center;
}

.right-nav {
    justify-content: flex-end;
}

.center-nav li, .right-nav li {
    margin-right: 20px;
}

.center-nav li:last-child, .right-nav li:last-child {
    margin-right: 0;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
}

.right-nav a:hover {
    color: #007bff;
}

.posts-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.post {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    max-width: 1200px;
    margin: 50px auto 0 auto;
}

.post h2 {
    margin-top: 0; /* Remove default margin for consistent spacing */
}